@charset "UTF-8";

* {
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #025940, #04BF8A, #024059 );
}

main {
    background-color: white;
    color: black;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 2px 20px 1px darkgray;
}

h1 {
    color: #03A64A;
    margin: auto;
    text-align: center;
    margin-top: 8px;
}

h2 {
    color: #026873;
}

p {
    text-align: justify;
}